* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #edf2f4;
}

header {
  height: 600px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2b2d42;
  color: #fff;
}

ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

.container-griglia {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.griglia {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.griglia > * {
  height: 200px;
}
